/*common*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: poppins;
}

body {
    margin-top: 5%;
    background-color: #18121a;
}
/*header*/
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px; 
    background-color: #492950;
    position: fixed;
    top: 0;
    left: 0;        
    width: 100%;
    height: 11%;
    padding: 1.5rem;
    z-index: 1000;  
}

.left {
    position: absolute;
    left: 35%;
}
.right {
    position: absolute;
    right: 35%;
}

.left a , .right a{
    text-decoration: none;
    font-size: 22px;
    color: #df4b6f;
    margin: 0 10px;
}
.left a:hover , .right a:hover{
    color: #ff9490;
}
.logo{
    position: absolute;
    left: 44.5%;
}
.logo:hover{
    transform: scale(1.01);
}

.logo img{
    height: 50px;
    margin: 0 auto;
}

.cart{
    position: absolute;
    right: 3%;
}

.cart:hover{
    transform: scale(1.05);
}
.cart img{
    height: 60px;
}

.banner_cnt {
    color: #492950;
    background-color: #9578a4;
    position:sticky;
    height: 3rem;
    width: 100%;
    padding: 0.3rem;
    text-align: center;
    z-index: 1001;
}
.banner h1{
    font-family: cursive;
}
.img_home{
    padding: 2rem;
}

/*Footer*/

footer{
    display: flex;
    background-color: #492950;
    color: white;
    padding: 20px;
    width: 100%;
    box-sizing: border-box;
}
.logo_f {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
.logofoot {
    width: 100px;
    height: 40px;
    margin-bottom: 10px;
  }


.social {
    display: flex;
    gap: 10px;
  }

.social li{
    list-style-type: none;
}

.social li img{
    width: 25px;
    height: 25px;
}
.social li img:hover {
    transform: scale(1.1); 
  }

.links_f{
    width: 100%;
}
.links {
    margin-left: 90%;
    list-style-type: none;
}

.terms {
    display: flex;
    gap: 150px;
    list-style-type: none;
    margin-left: 10%;
    margin-top: 5%;
    margin-bottom: 1%;
}


footer .links_f a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    transition: color 0.3s ease;
  }
  
footer .links_f a:hover {
    color: #e91e63; 
  }
  
footer p {
    font-size: 12px;
    margin-top: 10px;
    color: #aaa; 
  }

/*featured*/ 
.featured{
    height: 50vh;
    width: 100%;
}

.featured-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}
.img_feature {
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
}

.img_feature img{
    position: relative;
    width: 20vh;
    height: 30vh;
    cursor:pointer;
    border-radius: 10px;
    margin: -10px;
}

.text_f_m{
    display: none;
    position: relative;
    margin-left: 3%;
    width: 450%;
}
.text_f_m p {
    position: relative;
    font-size: 16px;
    margin: 20px 0;
}

.btn_learnMore{
    display: none;
    position: relative;
    flex-direction:row;
    top: 50%;
    right: 22%;
    margin-bottom: 5%;
}

.btn_learnMore a {
    background-color: #e91e63;
    color: #ff9490;
    padding: 15px 30px;
    text-decoration: none;
    border-radius: 15px;
    display: inline-block;
    white-space: nowrap;
    font-size: 18px;
}

.btn_learnMore a:hover{
    background-color: #df4b6f;
}

#key1 ,#mou1 {
    z-index: 2;
}

#key1.hidden, #mou1.hidden {
    display: none; 
}

#key1.selected, #mou1.selected {
    transform: scale(1.1);
    z-index: 10001;

} 

/*services*/

.services {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 20px;
    margin: 0;
    background-color: black;
}
.services > div {
    flex: 1; 
    text-align: center;
    padding: 10px;
  }

.services img {
    border: 2px solid black;
    width: auto; 
    height: 60vh;
    margin-bottom: 10px;
}
  
.services p {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    position: relative;
    margin-top: -15%;
    margin-bottom: 10%;
}

 

/*images home slideshow*/

.img_home {
    width: auto;
    height: 80vh;
    position: relative;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.imgh {
    display: none;
    width: 100%;
    height: 90vh;
    border-radius: 0px;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 10px;
    margin-top: -22px;
    color: #9578a4;
    background-color: rgba(0, 0, 0, 0.2);
    border: none;
    font-size: 18px;
    border-radius: 100px;
    user-select: none;
}
.prev {
    left: 15px;
}
.next {
    right: 15px;
}

.prev:hover , .next:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

.dots {
    text-align: center;
    margin-top: 0px;
    position: absolute;
    bottom: 3%;
    left: 45%;
}
  
.dot {
    cursor: pointer;
    height: 10px;
    width: 25px;
    margin: 0 5px;
    background-color: #9578a4;
    border-radius: 25%;
    display: inline-block;
}
  
.active, .dot:hover {
    background-color: #604e76;
}

/*Keyboard.html*/

/*banner kb and mouse*/
.tech_bnner{
    position: relative;
    height: 10vh;
    width: 100%;
    background-color: #44345b;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}
.tb_name{
    display: flex;
    flex: 1;
    color: #df4b6f;
    position: relative;
    top: 45%;
    margin-left: 1%;
    width: 60%;
    font-size: 20px;
}
.tech_bnner .bttns {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
    width: 70%;
    gap: 10px;
    position: relative;
    left:10%;
    margin-bottom: 4%;
}

.bttns #ov-btn ,.bttns #ts-btn {
    background-color: #e91e63;
    color: #ffc9b0;
    padding: 5px 20px;
    border-radius: 15px;
    text-decoration: none;
}

#ov-btn:hover ,#ts-btn:hover{
    background-color: #df4b6f;
}
/*keayboard features*/
.ftr_1 {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('Images/kbbg1.webp');
    height: 70vh;
}
.ftr_1 img{
    position: relative;
    width: 50%;
    height: 68vh;
    border-radius: 5px;
    left: 49.5%;
    margin-top: 0.5%;
}

#title_1{
    color: #df4b6f;
    position: relative;
    font-size: 28px;
    left: 15%;
    top: -90%;
    width: 30%;
}

#content1{
    color: #ff9490;
    position: relative;
    font-size: 23px;
    left: 1%;
    top: -85%;
    width: 45%;
    text-align: justify;
}

.ftr_2 {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('Images/kbbg2.webp');
    height: 70vh;
}

.ftr_2 img{
    position: relative;
    width: 50%;
    height: 68vh;
    border-radius: 5px;
    left: 0.5%;
    margin-top: 0.5%;
}
#title_2{
    color: #df4b6f;
    position: relative;
    font-size: 28px;
    left: 65%;
    top: -90%;
    width: 30%;
}
#content2{
    color: #ff9490;
    position: relative;
    text-align: justify;
    font-size: 23px;
    left: 53%;
    top: -85%;
    width: 45%;
}

.ftr_3 {
    background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), 
    url('Images/kbbg3.webp');
    height: 70vh;
}
.ftr_3 img{
    position: relative;
    width: 50%;
    height: 68vh;
    border-radius: 5px;
    left: 49.5%;
    margin-top: 0.5%;
}
#title_3{
    color: #df4b6f;
    position: relative;
    font-size: 28px;
    left: 10%;
    top: -90%;
    width: 30%;
}
#content3{
    color: #ff9490;
    position: relative;
    text-align: justify;
    font-size: 23px;
    left: 1%;
    top: -85%;
    width: 45%;
}

/*select keyboard and buy*/
.select-kb{
    height:40vh;
    width: 100%;
    align-items: center;
}
.select-kb .buy{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    
}
.select-kb a{
    background-color: #e91e63;
    border-radius: 10px;
    color: #ff9490;
    padding: 10px 50px;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-weight:500;
    transition: transform 0.3s ease;
    left: 15%;
}

.select-kb a:hover{
    background-color: #ff4b6f;
    transform: scale(1.1);
}

.buy .img{
    border-radius: 10px;
    width: 30%;
    height: 20vh;
    gap:50px;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    transition: transform 0.3s ease;
}
.buy .img:hover{
    transform: scale(1.1);
}

.select-kb #color1{
    position: relative;
    top: -20%;
    left: 12%;
    width: 20%;
}
.select-kb #color2{
    position: relative;
    top: -30.5%;
    left: 44%;
    width: 20%;
}

/*Image gallery*/
.images_1 img{
    width: 33%;
    height:40vh;
    padding: 0;
    margin-left: 0%;
    margin-top: -0.6%;
}
.images_2 img{
    width: 100%;
    height: 70vh;
    margin-top: -0.9%;
}
/*Mouse.html */
.M-features{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    width: 100%;
    height:150vh;
    position: relative;
}

.M-features  img{
    position: relative;
    width: auto;
    height: 40vh;
    top: 100%;
    left: 1%;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s ease;
}
.M-features > div:not(.msf0) img:hover{
    transform: scale(1.2);
    z-index: 1000;
}
.msf0 img {
    position: absolute;
    left: 28%;
    top: 1%;
    width: auto;
    height: 100vh;
    border-radius: 0%;
}
.msf0 img:hover{
    transform: scale(1.1);
    z-index: 1002;
}

.mftr_1 img{
    position: absolute;
    top: 2%;
    left: 14%;
}

.mftr_2 img{
    position: absolute;
    top: 2%;
    left: 70%;
}
.mftr_3 img{
    position: absolute;
    top: 35%;
    left: 14%;
}

.mftr_4 img{
    position: absolute;
    top: 35%;
    left: 70%;
}

.mftr_5 img{
    position: absolute;
    top: 66%;
    left: 42%;
}

.mftr_6 img{
    position: absolute;
    top: 66%;
    left: 14%;
}

.mftr_7 img{
    position: absolute;
    top: 66%;
    left: 70%;
}

/*Buy now mouse*/

.select-ms{
    height:50vh;
    width: 100%;
    align-items: center;
    margin-top: -5%;
}
.select-ms .buyms{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    
}
.select-ms a{
    background-color: #e91e63;
    border-radius: 10px;
    color: #ff9490;
    padding: 10px 50px;
    position: relative;
    text-decoration: none;
    font-size: 20px;
    font-weight:500;
    transition: transform 0.3s ease;
    left: 15%;
}

.select-ms a:hover{
    background-color: #df4b6f;
    transform: scale(1.1);
}

.buyms img{
    border-radius: 10px;
    width: auto;
    height: 35vh;
    gap:50px;
    margin-left: 2%;
    margin-top: 5%;
    margin-bottom: 5%;
    transition:transform 0.3s ease;
}
.buyms img:hover{
    transform: scale(1.1);
}

#color1 , #color2 , #color3{
    position: relative;
    color: #ff9490;
    
}
.select-ms #color1{
    position: relative;
    top: -21%;
    left: 7%;
    width: 10%;
}
.select-ms #color2{
    position: relative;
    top: -28.5%;
    left: 26%;
    width: 10%;
}

.select-ms #color3{
    position: relative;
    top: -35%;
    left: 47%;
    width: 10%;
}

/*mouse gallery*/
.gallery{
    margin-top: 1%;
}
.images_3 img{
    width: 33%;
    height:50vh;
    padding: 0;
    margin-top: -1%;
}
.images_4 img{
    width: 100%;
    height: 70vh;
    margin-top: -0.9%;
}

/*Tech Specofications Page (KeyBoard)*/

/*slide*/
.imageholder{
    width: auto;
    height: 100vh;
    margin-top: 1%;
    margin-left: 1%;
    overflow: hidden;
    position: relative;
}

.imgts{
    border-radius: 15px;
    width: 100%;
    height: 100vh; 
    display: none;
}
.prevts, .nextts {
    cursor: pointer;
    position: absolute;
    top: 50%; 
    transform: translateY(-50%);
    width: 40px; 
    height: 40px;
    color: #ff9490; 
    background-color: rgba(255, 201, 196, 0.2);
    border: none;
    font-size: 18px;
    border-radius: 50%;
    user-select: none;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.prevts {
    left: 1%;
}

.nextts {
    right: 1%;
}

.prevts:hover, .nextts:hover {
    background-color: rgba(149, 120, 169, 0.9); 
}

.dotts {
    text-align: center;
    margin-top: 0px;
    position: absolute;
    bottom: -20%;
    left: 14%;
}
  
.dottsk {
    cursor: pointer;
    height: 18px;
    width: 18px;
    margin: 0 5px;
    background-color: rgba(255, 148, 144, 0.5);
    border-radius: 50px;
    display: inline-block;
}
  
.activets, .dottsk:hover {
    background-color: rgba(149, 120, 169, 0.9); ;
}
/*buttns*/
#tsdiv1{
    display: flex; 
    justify-content: space-between; 
    width: 100%;
}
.detailsts{
    width: 50%;
}

#titlets{
    position: relative;
    width:620px;
    font-size: 25px;
    color: #9578a4;
    left: 1%;
    margin-top: 2%;
    text-align: center;
}
.detailsts img{
    position: relative;
    width: auto;
    height: 10vh;
    margin-left: 5%;
    transition:transform 0.3s ease;
}

.detailsts img:hover{
    transform: scale(1.1);
}

#colortsk1{
    color: #df4b6f;
    position: relative;
    left: 9%;
    width: 100px;
}

#colortsk2{
    color: #df4b6f;
    position: relative;
    top:-3.8%;
    left:35%;
    width: 100px;
}

.addetail{
    color: #604e76;
    width: 300px;
    margin-left: 1%;
}

#price{
    color: #ffc9b0;
    font-size: 24px;
    margin-top: -7%;
    margin-bottom: 1%;
}

.detailsts button {
    position: relative;
    background-color: #e91e63;
    color: #ffc9b0;
    padding: 5px 20px;
    border-radius: 15px;
    width: 200px;
    height: 50px;
    text-decoration: none;
    font-size: 20px;
    left: 35%;
}

.Specsts{
    width: 100%;
    margin: 20px 0;
}

.Specsts h2{
    color: #df4b6f;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 2%;
}
.detailsts button:disabled {
    background-color: #e91e63;
    cursor: not-allowed; 
    border: 1px solid #333;
    opacity: 0.3;
}


/*table*/
#tstable1{
    position: relative;
    left:5%;
    width: 90%;
    border-collapse: collapse;
    text-align: left;
    border: #493950;
}

.col1{
    color: #44345b;
}

.col2{
    color: #604e76;
}

/*mouse spec*/

#colortsm1{
    color: #df4b6f;
    position: relative;
    left: 6%;
    width: 50px;
}
#colortsm2{
    color: #df4b6f;
    position: relative;
    top: -3.5%;
    left: 22%;
    width: 50px;
}
#colortsm3{
    color: #df4b6f;
    position: relative;
    top: -6.8%;
    left: 36.5%;
    width: 50px;
}
#colortsm4{
    color: #df4b6f;
    position: relative;
    top: -10.2%;
    left: 51%;
    width: 50px;
}
#colortsm5{
    color: #df4b6f;
    position: relative;
    top: -13.8%;
    left: 66.5%;
    width: 60px;
}
#dotm {
    text-align: center;
    margin-top: 0px;
    position: absolute;
    bottom: -20%;
    left: 10%;
}

/*checkout form*/
.formList {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 50px;
}

.formList form {
    background-color: #18121a;
    padding: 25px 30px; 
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    width: 800px;
    transition: transform 0.3s ease;
}

.formList input[type="text"] {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s ease, box-shadow 0.3s ease;
}

.formList input[type="text"]:focus {
    border-color: #df4b6f;
    outline: none;
    box-shadow: 0 0 8px rgba(223, 75, 111, 0.5);
}

.selectOptions {
    width: 100%;
    height: 40px;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    transition: border 0.3s ease;
}

.selectOptions:focus {
    border-color: #df4b6f;
}

.placeOrder {
    background-color: #df4b6f;
    color: white;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
    margin-top: -20px;
}

.placeOrder:hover {
    background-color: #5c3a67;
    transform: scale(1.05);
}

label {
    font-size: 16px;
    margin-bottom: 8px;
    color: #ff4b6f;
    font-weight: bold;
    display: block;
}


.bannerstyle {
    margin-top: 4rem;
    text-align: center;
    padding: 1rem 0;
    background-color: #44345b;
    color: #ffc9b0;
    font-size: 25px;
    font-weight: bold;
}
.name1, .name2 {
    height: 40px;
    padding: 8px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
}

.name1 {
    width: 100%;
}

.name2 {
    width: 48%;
    margin-right: 2%;
}

.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.selectOptions {
    width: 100%;
    height: 50px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
}

.placeOrder {
    width: 100%;
}

#emptyCartText {
    height: 50vh;
    display: none;
}

#cartContainer {
    display:none;
    min-height: 55vh;
  }

.cardcont h1{
    width: 100%;
    color: #ff9490;
    text-align: center;
    position: relative;
    bottom: -30%;
}
#cartTable {
    width: 100%;
    border-collapse: collapse;
    min-height: 45vh;
  }
.cartbl, .carttd {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #5c3a67;
    border-right: 1px solid #5c3a67;
}

.cartbl{
    color: #df4b6f;
    text-align: center;
    background-color: #604e76;
}
.carttd{
    background-color: #18121a;
    color: #ff9490;
}
.empty-cart {
    text-align: center;
    font-size: 24px;
    padding: 50px;
  }
  
.checkout-btn {
    display: block;
    width: 100%;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #44345b;
    color: white;
    border: none;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
  }
  
.checkout-btn:hover {
    background-color: #44345b;
    filter: brightness(1.5);
  }

  .remove-item-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 15px;
    margin-left: 40%;
  }

  .remove-item-btn:hover{
    opacity: 0.9;
  }

#totalPrice{
    color: #ffc9b0;
    font-size: 20px;
    text-align: right;
    margin-right: 2%;
    margin-top: 2%;
}


